@{
    ViewBag.Title = "VerPerfiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Perfiles</h2>
@using (Html.BeginForm())
{
    <p>
        <div class="form-group, form-inline">
            @Html.TextBox("nom")
            <input type="submit" value="Buscar" class="btn btn-default" />
        </div>
    </p>
}

<br>

    @Html.ActionLink("Crear perfil", "Crear", "Perfil", "", new { @class = "btn btn-default" })

    @Html.ActionLink("Borrar perfil", "Borrar", "Perfil", "", new { @class = "btn btn-default", @style = "margin-left: 5px"})

<br>
<br>
<br>
    <div style="width: 600px ">
        <table class="table">
            <tr>
                <th>

                    Nombre
                </th>

            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>

                    @item.Nombre

                </td>

                <td>
                    @Html.ActionLink("Editar", "Editar", "Perfil", new { nombre = item.Nombre }, new { @class = "btn btn-default", @style = "margin-left: 5px" })


                </td>

            </tr>
               
                
                
                    

              

            }

        </table>
     </div>