

@{
    ViewBag.Title = "VerPersonas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuarios registradas</h2>
<br>
@using (Html.BeginForm())
{
    <p>

        <div class="form-group, form-inline">

            Nombre:
            @Html.TextBox("nom")
            Cédula:
            @Html.TextBox("ced")
            <input type="submit" value="Buscar" class="btn btn-default" />
        </div>
    </p>

}
<table class="table">
    <tr>
        <th>

            Cédula
        </th>
        <th>
            Primer nombre
        </th>
        <th>
            Segundo nombre
        </th>
        <th>

            Primer apellido
        </th>
        <th>

            Segundo apellido
        </th>
        <th>

            Correo Institucional
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Persona.Cedula
            </td>
            <td>
                @item.Persona.Nombre1
            </td>
            <td>
                @item.Persona.Nombre2
            </td>
            <td>
                @item.Persona.Apellido1
            </td>
            <td>
                @item.Persona.Apellido2
            </td>
            <td>
                @item.Usuario.CorreoInstitucional
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Persona.Cedula }, new { @class = "btn btn-default" })

            </td>
        </tr>
    }

</table>
