@model Opiniometro_WebApp.Models.AsignarFormulariosViewModel

@{
    ViewBag.Title = "Index";
}

<!-- Your custom styles (optional) -->
@Styles.Render("~/Content/TablasHTML/FixedHeaderTable.css")
@*<link href="~/Content/filtroAsig.css" rel="stylesheet" />*@


<div>
    <h1 align="center">Asignación de Formularios</h1>
</div>

<div class="container">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>Buscar grupos</h3></div>
                    <div class="panel-body">
                        <div style="height:17vh; overflow:auto;">

                    <!-- Esta forma también recarga la página, pero no muestra los criterios de busqueda en el URL. -->
                        <!-- Buscador -->
                        <p>
                            <div class="filter">
                                <!--Toman el valor del dropdown list seleccionado-->
                                @Html.Hidden("changeUnidad", null)
                                @Html.Hidden("changeCarrera", null)
                                @Html.Hidden("changeCurso", null)
                                @Html.Hidden("changeAnno", null)
                                @Html.Hidden("changeSemestre", null)

                                <!--Desplegables para los filtros-->
                                <a> @Html.DropDownList("semestre", null, "Semestre", new { @class = "btn btn-default dropdown-toggle", style = "width:130px", @onChange = "document.getElementById('changeSemestre').value = this.value; this.form.submit();" }) </a>
                                <a> @Html.DropDownList("ano", null, "Año", new { @class = "btn btn-default dropdown-toggle", style = "width:130px", @onChange = "document.getElementById('changeAnno').value = this.value; this.form.submit();" }) </a>
                                <a> @Html.DropDownList("unidadAcademica", null, "Unidad Academica", new { @class = "btn btn-default dropdown-toggle", style = "width:130px", @onChange = "document.getElementById('changeUnidad').value = this.value; this.form.submit();" }) </a>
                                <a> @Html.DropDownList("siglaCarrera", null, "Carrera", new { @class = "btn btn-default dropdown-toggle", style = "width:130px", @onChange = "document.getElementById('changeCarrera').value = this.value; this.form.submit();" }) </a>
                                <a> @Html.DropDownList("nombreCurso", null, "Curso", new { @class = "btn btn-default dropdown-toggle", style = "width:130px", @onChange = "document.getElementById('changeCurso').value = this.value; this.form.submit();" }) </a>
                                @*<b> @Html.DropDownList("profe", null, "Profesor", new { @class = "btn btn-default dropdown-toggle", style = "width:130px;" }) </b>*@
                                @*<b> @Html.DropDownList("enfasis", null, "Énfasis", new { @class = "btn btn-default dropdown-toggle", style = "width:130px;" }) </b>*@

                                </div>

                                <div>
                                    <!--Campo de busqueda-->
                                    <br> @Html.TextBox("SearchString", "", new { placeholder = "Nombre del curso" })
                                    <input type="submit" value="Buscar" />
                                </div>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Buscar formularios</h3>
                    </div>
                    <div class="panel-body">
                        <div style="height:17vh; overflow:auto;">
                            @Html.TextBox("FormSearchString", "", new { placeholder = "Nombre del formulario" })
                            <input type="submit" value="Buscar formularios" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

   @using (Ajax.BeginForm("AsignacionFormularioGrupo", "AsignarFormularios", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "asign-content" }))
    {
        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3>Grupos</h3>
                    </div>

                    <div class="panel-body">

                        @*Tabla de grupos*@

                        <div style="height:40vh; overflow:auto;">
                            <table id="tabla-grupos" class="table table-sm table-hover" cellspacing="0" width="100">
                                <thead>
                                    <tr>
                                        <th align='left'>

                                        </th>
                                        <th align='left'>
                                            Curso
                                        </th>
                                        <th align='left'>
                                            Grupo
                                        </th>
                                        <th align='left'>
                                            Profesor
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Despliega los datos de los grupos usando un template personalizado: ElegirGrupoEditorTemplate -->
                                    @Html.EditorFor(model => Model.Grupos)
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>



            <div class="col-sm-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Formularios</h3>
                    </div>

                    <div class="panel-body">
                        @* Tabla de formularios*@
                        <div style="height:40vh; overflow:auto;">
                            <table class="table table-sm table-hover">
                                <thead>
                                    <tr>
                                        <th align='left'>
                                            <div align='left'></div>
                                        </th>
                                        <th align='left'>
                                            <div align='left'>Formulario</div>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <!-- Despliega los datos de los formularios usando un template personalizado: ElegirFormularioEditorTemplate -->
                                    @Html.EditorFor(model => Model.Formularios)
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div align='center'>
                <input type="submit" name="Asignar" id="Asignar" value="Asignar" />
            </div>*@

        <div align='center'>
            <input type="submit" id="boton-asignar" value="Asignar" />
            <button type="button" style="display:none" id="boton-abrir-modal" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalReporte">Reporte de asignaciones</button>
        </div>

    }

    <!-- Modal -->
    <div id="modalReporte" class="modal fade" role="dialog">

        <div class="modal-dialog" style="height:73vh; width:73vw;">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Asignaciones de formularios por realizar</h4>
                </div>

                <div class="modal-body">
                    <div id="asign-content" style="height:70vh; width:70vw;">
                        @Html.EditorFor(Model => Model.GruFormsSeleccionados, "~/Views/Shared/AsignacionFormularioGrupos.cshtml")
                    </div>
                </div>

                <div class="modal-footer" align="center">
                    <div>Recuerde ingresar los periodos incluyendo la hora. Ejemplo de formato válido: 09:30 AM</div>
                    <button type="button" id="boton-efectuar" class="btn btn-default">Efectuar asignaciones</button>
                    <span> </span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>

                <input type="submit" style="display:none" id="efectuar" value="EFECTUAR ASIGNACIONES"/>

            </div>

        </div>

    </div>

</div>

<!-- SCRIPTS -->
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")﻿
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")﻿
@Scripts.Render("~/Scripts/AsignarFormularios.js")