@model Opiniometro_WebApp.Models.AsignarFormulariosViewModel

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/scrollbar-tabla.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")﻿
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")﻿
<link href="~/Content/filtroAsig.css" rel="stylesheet" />

<div>
    <h1 align="center">Asignación de herramientas de evaluación</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Buscar grupos</h3></div>
                <div class="panel-body">

                    <!-- Esta forma también recarga la página, pero no muestra los criterios de busqueda en el URL. -->
                    @using (Html.BeginForm())
                    {
                        <!-- Buscador -->
                        <p>
                            <div class="filtroAsig">
                                <a> @Html.DropDownList("unidadAcademica", null, "Unidad Academica", new { @class = "btn btn-info dropdown-toggle", style = "width:130px;" }) </a>
                                <a> @Html.DropDownList("nombreCarrera", null, "Carrera", new { @class = "btn btn-info dropdown-toggle", style = "width:130px;" }) </a>
                                <a> @Html.DropDownList("nombreCurso", null, "Curso", new { @class = "btn btn-info dropdown-toggle", style = "width:130px;" }) </a>
                                <a> @Html.DropDownList("semestre", null, "Semestre", new { @class = "btn btn-info dropdown-toggle", style = "width:130px;" }) </a>
                                <a> @Html.DropDownList("ano", null, "Año", new { @class = "btn btn-info dropdown-toggle", style = "width:130px;" }) </a>
                                @*<b> @Html.DropDownList("profe", null, "Profesor", new { @class = "btn btn-info dropdown-toggle", style = "width:130px;" }) </b>*@
                                @*<b> @Html.DropDownList("enfasis", null, "Énfasis", new { @class = "btn btn-info dropdown-toggle", style = "width:130px;" }) </b>*@

                            </div>         

                            <div>
                               <br> @Html.TextBox("SearchString", "", new { placeholder = "Nombre del curso" })
                                <input type="submit" value="Buscar" />
                            </div>
                        </p>
                    }



                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @using (Html.BeginForm("Asignar", "AsignarFormularios", FormMethod.Post))
        {
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>Grupos</h3></div>
                    <div class="panel-body">

                        @*Tabla de grupos*@

                        <table class="fixed_header">
                            <thead>
                                <tr>
                                    <th>
                                        <div align='center'>Selec. para asignar</div>
                                    </th>
                                    <th>
                                        <div align='center'>Sigla</div>
                                    </th>
                                    <th>
                                        <div align='center'>Curso</div>
                                    </th>
                                    <th>
                                        <div align='center'>Grupo</div>
                                    </th>
                                    <th>
                                        <div align='center'>Profesor</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Despliega los datos de los grupos usando un modelo personalizado: ElegirGrupoEditorTemplate -->
                                @Html.EditorFor(model => Model.Grupos)
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        }

        <div class="col-sm-4">

            <div class="panel panel-default">
                <div class="panel-heading"><h3>Formularios</h3></div>
                <div class="panel-body">


                    @using (Ajax.BeginForm("SeleccionFormularios", "AsignarFormularios", new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "form-content" }))
                    {
                        @Html.TextBox("formulario", "", new { placeholder = "Nombre del formulario" })
                        <input type="submit" value="Buscar" />
                        <div id="form-content">
                            @Html.Partial("SeleccionFormularios", Model.Formularios)
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
        

</div>
