@model Opiniometro_WebApp.Models.AsignarFormulariosViewModel

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/scrollbar-tabla.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")﻿
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")﻿
@Scripts.Render("~/Scripts/AsignarFormularios.js")

<div>
    <h1 align="center">Asignación de herramientas de evaluación</h1>
</div>


<div class="container">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>Buscar grupos</h3></div>
                    <div class="panel-body">

                        <!-- Esta forma también recarga la página, pero no muestra los criterios de busqueda en el URL. -->
                        <!-- Buscador -->
                        <p>
                            <div>
                                <label>Unidad Academica:</label> @Html.DropDownList("unidadAcademica", null, "<Seleccione Unidad Académica>", new { @class = "form-control" })
                            </div>
                            <div>
                                <label> Carreras: </label> @Html.DropDownList("nombreCarrera", null, "<Seleccione Carrera>", new { @class = "form-control" })
                            </div>
                            <div>
                                <label> Cursos: </label> @Html.DropDownList("nombreCurso", null, "<Seleccione Curso>", new { @class = "form-control" })
                            </div>
                            @*<div>
                                    <label> Semestre: </label> @Html.DropDownList("semestre", null, "<Seleccione Semestre>", new { @class = "form-control" })
                                </div>*@
                            @*<div>
                                    <label> Año: </label> @Html.DropDownList("ano", null, "<Seleccione Año>", new { @class = "form-control" })<br />
                                </div>*@
                            <div>
                                @Html.TextBox("SearchString", "", new { placeholder = "Nombre del curso" })
                                <input type="submit" value="Buscar grupos" />
                            </div>
                        </p>


                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Buscar formularios</h3>
                    </div>
                    <div class="panel-body">
                        @Html.TextBox("FormSearchString", "", new { placeholder = "Nombre del formulario" })
                        <input type="submit" value="Buscar formularios" />
                    </div>
                </div>
            </div>
        </div>
    }

    @using (Ajax.BeginForm("AsignacionFormularioGrupo", "AsignarFormularios", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "asign-content" }))
    {
        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3>Grupos</h3>
                    </div>

                    <div class="panel-body">

                        @*Tabla de grupos*@

                        <table class="fixed_header">
                            <thead>
                                <tr>
                                    <th align='center'>
                                        <div align='center'></div>
                                    </th>
                                    <th align='center'>
                                        <div align='center'>Sigla</div>
                                    </th>
                                    <th align='center'>
                                        <div align='center'>Curso</div>
                                    </th>
                                    <th align='center'>
                                        <div align='center'>Grupo</div>
                                    </th>
                                    <th align='center'>
                                        <div align='center'>Profesor</div>
                                    </th>
                                </tr>
                            </thead>


                            <tbody>
                                <!-- Despliega los datos de los grupos usando un modelo personalizado: ElegirGrupoEditorTemplate -->
                                @Html.EditorFor(model => Model.Grupos)
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>



            <div class="col-sm-4">

                <div class="panel panel-default">
                    <div class="panel-heading"><h3>Formularios</h3></div>
                    <div class="panel-body">

                        <table class="fixed_header">
                            <thead>
                                <tr>
                                    <th align='center'>
                                        <div align='center'></div>
                                    </th>
                                    <th align='center'>
                                        <div align='center'>Sigla</div>
                                    </th>
                                    <th align='center'>
                                        <div align='center'>Nombre</div>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <!-- Despliega los datos de los grupos usando un modelo personalizado: ElegirGrupoEditorTemplate -->
                                @Html.EditorFor(model => Model.Formularios)
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        @*<div align='center'>
                <input type="submit" name="Asignar" id="Asignar" value="Asignar" />
            </div>*@

        <div align='center'>
            <input type="submit" id="boton-asignar" value="Asignar" />
            <button type="button" style="display:none" id ="boton-abrir-modal" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalReporte">Reporte de asignaciones</button>
        </div>


        <!-- Modal -->
        <div id="modalReporte" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Asignaciones de formularios realizadas para el SEMESTRE-AÑO</h4>
                    </div>

                    <div class="modal-body">
                        <div id="asign-content">
                            @Html.Partial("AsignacionFormularioGrupo", Model.GruFormsSeleccionados)
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>

                </div>

            </div>
        </div>
    }

</div>