@model Opiniometro_WebApp.Models.Formulario

@{
    ViewBag.Title = "Details";
}

<head>
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <style>
        #contenedorGrafo {
            width: 1080px;
            height: 500px;
            border: 0px solid #ddd;
            padding: 1px;
            border-radius: 4px;
        }
    </style>
</head>

@Html.Partial("~\\Views\\Shared\\Auth\\BarraLogin.cshtml")

@{string perfil_actual = Opiniometro_WebApp.Controllers.Servicios.IdentidadManager.obtener_perfil_actual(); }

<div class="container">
    @{ string codigoFormularioRec = ""; string cedulaProfesorRec = ""; short annoGrupoRec = 0; byte semestreGrupoRec = 0; byte numeroGrupoRec = 0; string siglaCursoRec = ""; }
    @foreach (var title in Model.Formulario_Respuesta.Take(1))
    {
        codigoFormularioRec = title.CodigoFormulario;
        cedulaProfesorRec = title.CedulaProfesor;
        annoGrupoRec = title.AnnoGrupo;
        semestreGrupoRec = title.SemestreGrupo;
        numeroGrupoRec = title.NumeroGrupo;
        siglaCursoRec = title.SiglaGrupo;
        <td>
            <h4 style="text-align:left;">
                <b>Sigla:</b>
                @Html.DisplayFor(modelItem => title.Grupo.SiglaCurso)

                <span style="float:right;">
                    <b>Profesor:</b>
                    @Html.DisplayFor(modelItem => title.Profesor.Persona.Nombre)
                    @Html.DisplayFor(modelItem => title.Profesor.Persona.Apellido1)
                    @Html.DisplayFor(modelItem => title.Profesor.Persona.Apellido2)
                </span>

                <br><br>

                <b>Curso:</b>
                @Html.DisplayFor(modelItem => title.Grupo.Curso.Nombre)

                <span style="float:right;">
                    <b>Semestre:</b>
                    @Html.DisplayFor(modelItem => title.Grupo.SemestreGrupo)

                    <b>Año:</b>
                    @Html.DisplayFor(modelItem => title.Grupo.AnnoGrupo)
                </span>

                <br><br>

                <b>Formulario:</b>
                @Html.DisplayFor(modelItem => title.CodigoFormulario)

                @Html.DisplayFor(modelItem => title.Formulario.Nombre)

                <span style="float:right;">
                    <b>Grupo:</b>
                    @Html.DisplayFor(modelItem => title.Grupo.Numero)
                </span>

            </h4>
        </td>

        <br><br>
    }


    @{int id_counter = 0; int seccion_counter = 0; bool? observation = true; string seccion_actual = ""; string item_actual = ""; List<string> secciones = new List<string>(); bool seccion_repetida = false; }

    <div class="panel-group" id="accordion1">

        @foreach (var formulario in Model.Conformado_Item_Sec_Form)
        {
            seccion_actual = formulario.TituloSeccion;

            @*Se ocupa poner una restriccion para no mostrar seciones repetidas*@

            if (secciones.Contains(seccion_actual)) { seccion_repetida = true; }
            else { secciones.Add(seccion_actual); seccion_repetida = false; }


            if (seccion_repetida == false)
            {

                <div class="panel panel-default ">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion1" href="#collapseThree_@id_counter">
                                @formulario.Orden_Seccion - @Html.DisplayFor(model => formulario.TituloSeccion)@*Despliega las secciones de un formulario en especifico*@
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree_@id_counter" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div class="panel-group" id="accordion2_@id_counter">

                                @foreach (var seccion in Model.Conformado_Item_Sec_Form)
                                {
                                    item_actual = seccion.Item.ItemId;

                                    if (seccion.TituloSeccion == seccion_actual && seccion.ItemId == item_actual)
                                    {
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion2_@id_counter" href="#collapseThreeOne_@seccion_counter">
                                                        @seccion.Orden_Item - <b>@seccion.ItemId</b>.@Html.DisplayFor(model => seccion.Item.TextoPregunta) @*Despliega las preguntas de una seccion en especifico*@
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThreeOne_@seccion_counter" class="panel-collapse collapse">
                                                <div class="panel-body">

                                                    @if (seccion.Item.TipoPregunta != 1)
                                                    {
                                                        @*Aqui se ingresa el grafico y desde aqui se mostrarian las observaciones posteriormente, acordarse de ponder una condicion si el tipo de pregunta posee grafico o no*@
                                                        //<p>@("graficarResultados('@seccion.Item.ItemId')")</p>
                                                        <p id="graf_@item_actual" style="float:inherit"></p>
                                                        <div id="contenedorGrafo">
                                                            <canvas id="pie_chart_@item_actual"></canvas>
                                                        </div>
                                                        <button id="changeGraph" >Cambiar Gráfico</button>
                                                        <script>
                                                        $.ajax({
                                                            type: "POST",
                                                            url: "/VisualizarFormulario/GraficoPie/?itemId=@seccion.Item.ItemId",
                                                            data: "{ 'codigoFormulario': '@codigoFormularioRec', 'cedulaProfesor': '@cedulaProfesorRec', 'annoGrupo': '@annoGrupoRec', 'semestreGrupo': '@semestreGrupoRec', 'numeroGrupo': '@numeroGrupoRec', 'siglaCurso': '@siglaCursoRec', 'itemId': '@seccion.Item.ItemId' }",
                                                            contentType: "application/json; charset=utf-8",
                                                            dataType: "json",
                                                            success: function (chData) {
                                                                var aData = chData;
                                                                var aLabels = aData[0];
                                                                var aDatasets1 = aData[1];
                                                                var aMediana = aData[2]

                                                                var tamanio = 0;
                                                                var cantidadOpciones = 0;
                                                                var promedio = 0;

                                                                for (var data in aDatasets1) {
                                                                    var valor = parseInt(aDatasets1[data]);
                                                                    tamanio = tamanio + valor;
                                                                    cantidadOpciones++;
                                                                }

                                                                promedio = tamanio / cantidadOpciones;

                                                                //for (var i = 0; i < tamanio; i++)
                                                                document.getElementById("graf_@item_actual").innerHTML = document.getElementById("graf_@item_actual").innerText + "Cantidad de Estudiantes que respondieron: " + (tamanio).toString() + " ";

                                                                if ('@seccion.Item.TipoPregunta' == 4 || '@seccion.Item.TipoPregunta' == 5)
                                                                {
                                                                    //Promedio
                                                                    document.getElementById("graf_@item_actual").innerHTML = document.getElementById("graf_@item_actual").innerText + "Promedio: " + (promedio).toString() + " ";
                                                                    //Mediana
                                                                    document.getElementById("graf_@item_actual").innerHTML = document.getElementById("graf_@item_actual").innerText + "Mediana: " + (aMediana).toString() + " ";
                                                                    //Desviacion Estandar
                                                                }
                                                              
                                                            

                                                                @*var iter = aLabels;
                                                                <p>@seccion.Item.ItemId</p>*@
                                                                var dataT = {
                                                                    labels: aLabels,
                                                                    datasets: [{
                                                                    label: "Cantidad de Respuestas",
                                                                        data: aDatasets1,
                                                                        fill: false,
                                                                        backgroundColor: [
                                                                            'rgba(255, 99, 132, 0.2)',
                                                                            'rgba(54, 162, 235, 0.2)',
                                                                            'rgba(255, 206, 86, 0.2)',
                                                                            'rgba(75, 192, 192, 0.2)',
                                                                            'rgba(153, 102, 255, 0.2)',
                                                                            'rgba(255, 159, 64, 0.2)'
                                                                        ],
                                                                        borderColor: [
                                                                            'rgba(255, 99, 132, 1)',
                                                                            'rgba(54, 162, 235, 1)',
                                                                            'rgba(255, 206, 86, 1)',
                                                                            'rgba(75, 192, 192, 1)',
                                                                            'rgba(153, 102, 255, 1)',
                                                                            'rgba(255, 159, 64, 1)'
                                                                        ],
                                                                        borderWidth: 1
                                                                    }]
                                                                };
                                                                var ctx = $("#pie_chart_@item_actual").get(0).getContext("2d");
                                                                if ('@seccion.Item.TipoPregunta' == 2 || '@seccion.Item.TipoPregunta' == 3 || '@seccion.Item.TipoPregunta' == 6) {
                                                                    var barChart = new Chart(ctx, {
                                                                        type: 'pie',
                                                                        data: dataT,
                                                                        options: {
                                                                            responsive: true,
                                                                            maintainAspectRatio: false,
                                                                            scales: { xaxes: [{ ticks: { beginAtZero: true } }] },
                                                                            legend: { display: true },

                                                                        },
                                                                    })
                                                                } else if ('@seccion.Item.TipoPregunta' == 4 || '@seccion.Item.TipoPregunta' == 5) {
                                                                    var barChart = new Chart(ctx, {
                                                                        type: 'horizontalBar',
                                                                        data: dataT,
                                                                        options: {
                                                                            responsive: true,
                                                                            maintainAspectRatio: false,
                                                                            scales: { xAxes: [{ ticks: { beginAtZero: true } }] },
                                                                            legend: { display: true },
                                                                        },
                                                                    })
                                                                }
                                                            }
                                                        });
                                                        </script>
                                                    }
                                                    else
                                                    {
                                                        <div style="height:180px; overflow-y: scroll;">

                                                            @foreach (var item in Model.Formulario_Respuesta)
                                                            {
                                                                <p>Respuesta de estudiante, texto para verificar que el tamanno para el cuadro de texto sea apropiado, lo cual indica que se pueda ver la suficiente informacion, a la vez que no se consuma mucho espacio en pantalla y evite al usuario concentrase en la respuesta de una pregunta. Tambien para comprobar con los companneros de equipo que les parece y si creen que el tamanno deber ser mas grande o mas pequenno, ya que se tiene que tomar un promedio del tamanno de una respuesta de un estudiante.</p>
                                                                <hr>
                                                            }

                                                        </div>
                                                    }
                                                    <br />
                                                    <div class="panel-group" id="accordion3_@seccion_counter">



                                                        @if (seccion.Item.TieneObservacion == observation)
                                                        {
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading">
                                                                    <h4 class="panel-title">
                                                                        <a data-toggle="collapse" data-parent="#accordion3_@seccion_counter" href="#collapseThreeTwo_@seccion_counter">
                                                                            Observaciones @*Aqui se muestran las observaciones relacionadas a una preguntas*@
                                                                        </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="collapseThreeTwo_@seccion_counter" class="panel-collapse collapse">
                                                                    <div class="panel-body">
                                                                        <div style="height:200px; overflow-y: scroll;">
                                                                            <p id="obs_@item_actual" style="float:left"></p>

                                                                            @foreach (var item in Model.Formulario_Respuesta.Take(1))
                                                                            {
                                                                                <script>
                                                                                    $.ajax({
                                                                                        type: "POST",
                                                                                        url: "/VisualizarFormulario/ObservacionesPorPregunta",
                                                                                        data: "{ 'codigoFormulario': '@item.CodigoFormulario', 'cedulaProfesor': '@item.Profesor.CedulaProfesor', 'annoGrupo': '@item.Grupo.AnnoGrupo', 'semestreGrupo': '@item.Grupo.SemestreGrupo', 'numeroGrupo': '@item.Grupo.Numero', 'siglaCurso': '@item.Grupo.SiglaCurso', 'itemId': '@seccion.Item.ItemId' }" ,
                                                                                        contentType: "application/json; charset=utf-8",
                                                                                        dataType: "json",
                                                                                        success: function (chData) {
                                                                                        var aData = chData;
                                                                                        var obs = aData[0];
                                                                                        var nom = aData[1];
                                                                                        var ap1 = aData[2];
                                                                                        var ap2 = aData[3];

                                                                                            for (var data in obs) {
                                                                                                if ('@perfil_actual' == "Admin") { //Cuando se incluye el if lo que esta dentro no se despliega incluso si la condicion es verdadera
                                                                                                    document.getElementById("obs_@item_actual").innerHTML = document.getElementById("obs_@item_actual").innerText + (obs[data]).toString() + " - " + (nom[data]).toString() + " " + (ap1[data]).toString() + " " + (ap2[data]).toString() + " ";

                                                                                                } else if ('@perfil_actual' != "Admin"){
                                                                                                    document.getElementById("obs_@item_actual").innerHTML = document.getElementById("obs_@item_actual").innerText + (obs[data]).toString() + " ";

                                                                                                }
                                                                                                // Si no se acomodan las observaciones se bloquea el collapse de mostrar observaciones
                                                                                            }
                                                                                                }
                                                                                            });
                                                                                </script>


                                                                            }

                                                                            @*Se ocupa encontrar la forma de devolver las observaciones por pregunta*@

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }


                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        seccion_counter++;
                                    }
                                }
                            </div>

                        </div>
                    </div>
                </div>

                id_counter++;
            }
        }

    </div>
</div>

<script src="~/Scripts/Graficar.js"></script>
@*
    <script>
    function graficarResultados(itemId) {
            alert(itemId);
            $.get("/VisualizarFormulario/GraficoPie", { itemId });
        }</script>*@ 