@model IEnumerable<Opiniometro_WebApp.Models.Responde>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Observacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Respuesta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RespuestaProfesor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Formulario_Respuesta.CodigoFormulario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Observacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Respuesta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RespuestaProfesor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Formulario_Respuesta.CodigoFormulario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
