@model Opiniometro_WebApp.Models.SeleccionUnica

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SeleccionUnica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsaLikeDislike)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsaLikeDislike)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.TextoPregunta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.TextoPregunta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
