@model Opiniometro_WebApp.Models.ElegirGrupoEditorViewModel


<!-- Table row (fila) de elementos -->
<tr>
    @*Checkbox para asignar*@
    <td align='left'>
        <div align='left'>@Html.CheckBoxFor(model => model.Seleccionado)</div>
    </td>

    @*Curso*@
    <td align='justify'>
        <div align='justify'>
            @Html.DisplayFor(model => model.SiglaCurso)
            <span> </span>
            @Html.DisplayFor(model => model.NombreCurso)
        </div>
    </td>

    @*Numero de grupo*@
    <td align='left'>
        <div align='left'>@Html.DisplayFor(model => model.Numero)</div>
    </td>

    @*Profesores*@
    <td align='left'>
        @foreach (var profe in Model.Profesores)
        {
            <div align='left'>
                @Html.DisplayFor(model => profe.Persona.Nombre) <span> </span>
                @Html.DisplayFor(model => profe.Persona.Apellido1) <span> </span>
                @Html.DisplayFor(model => profe.Persona.Apellido2) <br>
            </div>
        }
    </td>

    @Html.HiddenFor(model => model.Anno)
    @Html.HiddenFor(model => model.Semestre)
    @Html.HiddenFor(model => model.Numero)
    @Html.HiddenFor(model => model.SiglaCurso)
    @Html.HiddenFor(model => model.NombreCurso)

</tr>