@model Opiniometro_WebApp.Models.ElegirGrupoEditorViewModel


<!-- Table row (fila) de elementos -->
<tr>
    @*Checkbox para asignar*@
    <td>
        <div align='center'>@Html.CheckBoxFor(model => model.Seleccionado)</div>
    </td>

    @*Sigla de curso*@
    <td>
        <div align='center'>@Html.DisplayFor(model => model.SiglaCurso)</div>
    </td>

    @*Nombre de curso*@
    <td>
        <div align='center'>@Html.DisplayFor(model => model.NombreCurso)</div>
    </td>

    @*Numero de grupo*@
    <td>
        <div align='center'>@Html.DisplayFor(model => model.Numero)</div>
    </td>

    @*Profesores*@
    <td>
        @foreach (var profe in Model.Profesores)
        {
        <div align='center'>
            @Html.DisplayFor(model => profe.Persona.Nombre) <span> </span>
            @Html.DisplayFor(model => profe.Persona.Apellido1) <span> </span>
            @Html.DisplayFor(model => profe.Persona.Apellido2) <br>
        </div>
        }
    </td>

    @*Año (escondido)*@
    <td style="display: none;">@Html.DisplayFor(model => model.Anno)</td>
    

    @*Semestre (escondido)*@
    <td style="display: none;">@Html.DisplayFor(model => model.Semestre)</td>
    
</tr>