@model Opiniometro_WebApp.Models.ElegirGrupoEditorViewModel


<!-- Table row (fila) de elementos -->
<tr>
    @*Checkbox para asignar*@
    <td align='center'>
        <div align='center'>@Html.CheckBoxFor(model => model.Seleccionado)</div>
    </td>

    @*Sigla de curso*@
    <td align='center'>
        <div align='center'>@Html.DisplayFor(model => model.SiglaCurso)</div>
    </td>

    @*Nombre de curso*@
    <td align='center'>
        <div align='center'>@Html.DisplayFor(model => model.NombreCurso)</div>
    </td>

    @*Numero de grupo*@
    <td align='center'>
        <div align='center'>@Html.DisplayFor(model => model.Numero)</div>
    </td>

    @*Profesores*@
    <td align='center'>
        @foreach (var profe in Model.Profesores)
        {
            <div align='center'>
                @Html.DisplayFor(model => profe.Persona.Nombre) <span> </span>
                @Html.DisplayFor(model => profe.Persona.Apellido1) <span> </span>
                @Html.DisplayFor(model => profe.Persona.Apellido2) <br>
            </div>
        }
    </td>

    @Html.HiddenFor(model => model.Anno)
    @Html.HiddenFor(model => model.Semestre)
    @Html.HiddenFor(model => model.Numero)
    @Html.HiddenFor(model => model.SiglaCurso)

</tr>