
@model Opiniometro_WebApp.Models.FormularioCursoModel

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <script src="~/Scripts/FormularioDelCurso.js"></script>
</head>
<body>
    <table id="tabla-preguntasFormulario" class="table table-sm table-hover" cellspacing="0" width="100">
        <tr>
            <th align='left'>
                Pregunta
            </th>
        </tr>
        @*Despliega la opcion correspondiente para respoder la pregunta*@

        @foreach (var dato in Model.preguntasFormulario)
        {

            if (dato.tipoPregunta == 1)
            {
                <tr id="campoTexto">
                    <td>
                        @Html.DisplayFor(modelItem => dato.item)

                        <script>
                            TextoLibre()
                        </script>

                        <br />
                    </td>
                </tr>
            }

            if (dato.tipoPregunta == 2)
            {
                <tr id="selUnica">
                    <td>
                        @Html.DisplayFor(modelItem => dato.item)

                        <script>
                            seleccionUnica(par1 , dato.tieneObservacion)
                        </script>

                        <br />
                    </td>
                </tr>
            }

            if (dato.tipoPregunta == 3)
            {
                <tr id="SiNo">
                    <td>
                        @Html.DisplayFor(modelItem => dato.item)

                        <script>
                            SiNo(/*par1 , dato.tieneObservacion*/)
                        </script>

                        <br />
                    </td>
                </tr>
            }

            if (dato.tipoPregunta == 4)
            {
                <tr id="escalar">
                    <td>
                        @Html.DisplayFor(modelItem => dato.item)

                        <script>
                            seleccionMultiple(/*par1 , dato.tieneObservacion*/)
                        </script>

                        <br />
                    </td>
                </tr>
            }

            if (dato.tipoPregunta == 5)
            {
                <tr id="estrella">
                    <td>
                        @Html.DisplayFor(modelItem => dato.item)

                        <script>
                            Estrella(/*par1 , dato.tieneObservacion*/)
                        </script>

                        <br />
                    </td>
                </tr>
            }

        }
    </table>

</body>
</html>
