@model Opiniometro_WebApp.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Texto_Pregunta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texto_Pregunta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tiene_Observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tiene_Observacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Texto_Libre.ID_Item)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texto_Libre.ID_Item)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeleccionUnica.ItemID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeleccionUnica.ItemID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
