@model IEnumerable<Opiniometro_WebApp.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Texto_Pregunta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tiene_Observacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Texto_Libre.ID_Item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeleccionUnica.ItemID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Texto_Pregunta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tiene_Observacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Texto_Libre.ID_Item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeleccionUnica.ItemID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemID })
        </td>
    </tr>
}

</table>
