@model Opiniometro_WebApp.Models.CrearFormularioModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/scrollbar-tabla.css")
@* Inclusiones necesarias para poder hacer validaciones *@
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>



    $(document).ready(function () {
        $("#btnSave").click(function () {
            
            $.ajax(
            {
                type: "POST", //HTTP POST Method
                    url: "AgregarConformado", // Controller/View

                data: { //Passing data
                    codigoFormulario:  @Html.Raw(Json.Encode(Model.Formulario.CodigoFormulario)),
                    nombreFormulario:  @Html.Raw(Json.Encode(Model.Formulario.Nombre)),
                    Orden_Seccion: $("#Orden_Seccion").val(),
                    Orden_Item: $("#Orden_Item").val(),
                    TituloSeccion: $("input:radio[name=seccion]:checked").val(),
                    ItemId: $("input:radio[name=item]:checked").val()
                    },
                    success: function (result) {
                        //console.log(result.console)
                        if (result) {
                            alert("Se asigno la pregunta: " + $("input:radio[name=item]:checked").val() + ", en la seccíon: "
                                + $("input:radio[name=seccion]:checked").val()),
                                $('#ConformadosID').html(result);
                                location.reload();
                        } else {
                            alert("No se asigno la pregunta a la sección")
                        }
                        
                    },
                    error: function () {
                        alert("No se asigno la pregunta: " + $("input:radio[name=item]:checked").val() + ", en la seccíon: "
                            + $("input:radio[name=seccion]:checked").val()
                            + "porque la pregunta ya se asigno a esa sección")
                    }


                });

        });
    });
    $(document).ready(function () {
        $("#btncopiarsecc").click(function () {
            console.log("prueba")
            $.ajax(
            {
                type: "POST", //HTTP POST Method
                    url: "CopiarSeccion", // Controller/View
                    
                data: { //Passing data
                    Cod_Form_Dest: @Html.Raw(Json.Encode(Model.Formulario.CodigoFormulario)),
                    Nom_Form_Dest:  @Html.Raw(Json.Encode(Model.Formulario.Nombre)),
                    Titulo_Seccion: $("input:radio[name=seccionC]:checked").val(),
                    Cod_Form_Origen: $("input:radio[name=Formu]:checked").val()
                    },
                    success: function (result) {
                        console.log("prueba2")
                        console.log(result.console)
                        if (result) {
                            alert("Se copio correctamente la sección: " + $("input:radio[name=seccionC]:checked").val() + ", en el formulario: "
                                + @Html.Raw(Json.Encode(Model.Formulario.Nombre))),
                                $('#ConformadosID').html(result);
                            location.reload();
                        } else {
                            alert("No se copio ningúna sección en el formulario: " + @Html.Raw(Json.Encode(Model.Formulario.Nombre)))
                                
                        }
                    },
                    error: function () {
                        console.log("prueba3")
                        alert("No se asigno la pregunta: " + $("input:radio[name=item]:checked").val() + ", en la seccíon: "
                            + $("input:radio[name=seccion]:checked").val()
                            + "porque la pregunta ya se asigno a esa sección")
                    }


                });

            });
        });



</script>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@*<div id="content">*@
<div class="row ">
    <div class="col-sm-4"><h3><strong>Codigo:</strong> @Model.Formulario.CodigoFormulario </h3></div>
    <div class="col-sm-8"><h3><strong>Nombre:</strong> @Model.Formulario.Nombre</h3></div>
</div>






<div class="row">
    <div class="col-sm-6">
        <h4 align='center'><strong>@Html.Label("Secciones")</strong></h4>
        <table class="table table-bordered table-striped fixed_header">
            <tr>
                <td>
                    @Html.Label("Seleccione la sección")
                </td>
                <td>
                    @Html.Label("Titulo")
                </td>
                <td>
                    @Html.Label("Descripción")
                </td>
            </tr>


            @foreach (var seccion in Model.Secciones)
            {
                <tr>
                    <td>
                        <input type="radio" id="seccion" name="seccion" value="@seccion.Titulo" />
                    </td>
                    <td>
                        @Html.DisplayFor(model => seccion.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(model => seccion.Descripcion)
                    </td>

                </tr>
            }

        </table>

    </div>

    <div class="col-sm-6">
        <h4 align='center'><strong>@Html.Label("Banco de Preguntas")</strong></h4>
        <table class="table table-bordered table-striped fixed_header">
            <tr>
                <td> @Html.Label("Seleccione la pregunta")</td>
                <td>
                    @Html.Label("Código")
                </td>
                <td>
                    @Html.Label("Planteamiento")
                </td>
                <td>
                    @Html.Label("Tipo")
                </td>
            </tr>


            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        <input type="radio" name="item" id="item" value="@item.ItemId" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TextoPregunta)
                    </td>
                    <td>
                        @switch (item.TipoPregunta)
                        {
                            case 1:@Html.Raw("Texto Libre");
                            break;
                            case 2: @Html.Raw("Selección Única");
                            break;
                            case 3: @Html.Raw("Sí-No");
                            break;
                            case 4: @Html.Raw("Selección Múltiple");
                            break;
                            case 5: @Html.Raw("Escalar");
                            break;
                            case 6: @Html.Raw("Escalar especial");
                            break;
                        }


                    </td>
                </tr>
            }

        </table>

    </div>






</div>

<div class="row form-group">
    <div class="col-sm-12 text-center">
        <button id="btnSave" class="btn btn-secondary m-*-auto"><span class="oi oi-arrow-left"></span> Asignar pregunta</button>
    </div>
</div>

<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalCopiarSeccion">
    Copiar Secciones
</button>

<div class="modal fade" id="modalCopiarSeccion" tabindex="-1" role="dialog" aria-labelledby="modalCopiarSeccion" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCopiarSeccion"> <b> Copiar Seccion </b> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Partial("AsignarSecciones", Model.CopiarSeccion)
            </div>
            <div class="modal-footer">
                <button type="button" id="btncopiarsecc" class="btn btn-secondary" data-dismiss="modal">Copiar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<button id="VistaPrevia" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalVistaPrevia">
    Vista Previa
</button>

<div class="modal fade" id="modalVistaPrevia" tabindex="-1" role="dialog" aria-labelledby="modalVistaPrevia" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalVistaPrevia"> <centered><h1> @Model.Formulario.CodigoFormulario </h1> </centered></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Action("VistaFormularioVParcial", new { CodForm = Model.Formulario.CodigoFormulario })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>





@Html.ActionLink("Terminar", "Index", "Formulario", null, new { @class = "btn btn-default" })



<script>
    function prueba() {
                            document.location = '@Url.Action("Index")';
                        }
</script>


<script>
    jQuery(document).ready(function () {

        jQuery('#modalVistaPrevia').on('show.bs.modal', function (e) {
            jQuery(this).removeData('bs.modal');
                               
        })

    })
</script>



