@model Opiniometro_WebApp.Models.Formulario

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<thead>
    
        <tr>
          
            
                <td>
                
                    <div class="row">
                        <h4>Codigo: @Model.CodigoFormulario </h4>
                        <h4>Nombre: @Model.Nombre</h4>
                    </div>

                    <div>
                        <div style="float: right; width: 500px; padding: 15px;">
                            @Html.Action("preguntasVParcial")
                        </div>

                        <div style=" width: 500px; padding:  15px;">
                            @Html.Action("seccionesVParcial")
                        </div>
                    </div>


                    <button disabled>
                        Añadir pregunta al formulario.
                    </button>

                    <div style="float: left; width: 1000px; padding: 50px;">
                        @Html.Action("SeccionesAsignadas", new
                                    {CodForm = Model.CodigoFormulario})
                    </div>

                    <input type="submit" value="Generate report" />
                    <div style="clear: both;"></div>
                </td>
            
        </tr>
    
</thead>








