@model Opiniometro_WebApp.Models.Conformado_For_Sec 


@{
    /**/

    ViewBag.Title = "EliminarSeccion";
}

@* Inclusiones necesarias para poder hacer validaciones *@
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<h2>Eliminar Sección</h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />


    @* Dropdown list para que el usuario escoja la sección del formulario que desea eliminar *@
    <div class="form-group">
        @Html.LabelFor(model => model.TituloSeccion, "Título de la sección a eliminar", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.TituloSeccion, new SelectList(ViewBag.TituloSeccion, "Value", "Text"), "Seleccione")
            @Html.ValidationMessageFor(model => model.TituloSeccion, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.Label("Código del formulario:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.CodigoFormulario, new { disabled = "disabled" })
          
        </div>
    </div>

    <td>
        @Html.ActionLink("Eliminar Sección", "EliminarSeccion", "EliminarSeccion", new { }, new { @class = "btn btn-default" })
        @Html.ActionLink("Cancelar", "Index", "Formulario", new { }, new { @class="btn btn-default"})
    </td>

    <script>

        /*aqui se codifican las acciones al darle click a los botones especificos*/

        function accionBotonEliminarSeccion() {
    
        }

        function accionBotonCancelar() {
            document.location = '@Url.Action("Index", "Formulario")';
        }

        </script>

</div>

}
