@model Opiniometro_WebApp.Models.Conformado_For_Sec 
    

@{
    /**/

    ViewBag.Title = "EliminarSeccion";
}

@* Inclusiones necesarias para poder hacer validaciones *@
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<h2>Eliminar Sección</h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    <div class="form-group">
        @Html.Label("Código del formulario:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.CodigoFormulario, new { disabled = "disabled" })

        </div>
    </div>


    @* Dropdown list para que el usuario escoja la sección del formulario que desea eliminar *@
    <div class="form-group">
        @Html.LabelFor(model => model.TituloSeccion, "Título de la sección a eliminar", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.DropDownListFor(model => model.TituloSeccion, new SelectList(ViewBag.TituloSeccion, "Value", "Text"), "Seleccione")*@
            @Html.DropDownListFor(model => model.TituloSeccion,
            new SelectList(ViewBag.TituloSeccion, "Value", "Text"), "Seleccione", htmlAttributes: new { @class = "form-control", id = "dropdownlistTitulos",
            placeholder = "TituloSeccion", data_width = "100%", onchange = "guardarValor(this.value)"})
            
            @Html.ValidationMessageFor(model => model.TituloSeccion, "", new { @class = "text-danger" })
        </div>
    </div>




    <td>
        <button id="btnEliminar" class="btn btn-secondary m-*-auto"><span class="oi oi-arrow-left"></span> Eliminar Sección </button>
        @Html.ActionLink("Cancelar", "Index", "Formulario", new { }, new { @class = "btn btn-default" })
    </td>


    <script>

        /*aqui se codifican las acciones al darle click a los botones especificos*/
        
        $(document).ready(function () {
            $("#btnEliminar").click(function () {
            $.ajax({
                type: "POST",
                url: "CrearFormulario", // the URL of the controller action method
                data: { //pasando informacion
                   @*CodigoFormulario: @Html.Raw(Json.Encode(Model.CodigoFormulario))*@
                    TituloSeccion: titulo
                },
                success: function (result) {
                    // lo que se hace con el resultado
                    if (result) {
                        alert("Se eliminó la sección " + $("input:radio[name=seccion]:checked").val())
                    }
                    else
                    {
                        alert("No se eliminó la sección ") + $("input:radio[name=seccion]:checked").val()
                    }
                },
                error: function () {
                    alert("No se eliminó la sección ") + $("input:radio[name=seccion]:checked").val()
                }
            });
            });
        });

        function guardarValor(string valor) {
           
            titulo = valor;
            return titulo;

        }


        function accionBotonCancelar() {
            document.location = '@Url.Action("Index", "Formulario")';
        }

    </script>

</div>

}
