
@model IEnumerable<Opiniometro_WebApp.Models.Conformado_Item_Sec_Form>

<table class="table">
    <tr>
        <th>
        </th>
        <th>

        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model.OrderBy(item => item.Orden_Seccion))
    {
        <tr>

            <td>
                <u>Seccion: </u>
                @Html.DisplayFor(modelItem => item.Orden_Seccion)
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => item.TituloSeccion)</b>
            </td>

        </tr>

        <tr>
            <th>

            </th>
            <th>

            </th>

        </tr>
        foreach (var pregunta in Model.OrderBy(pregunta => pregunta.Orden_Item))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => pregunta.Orden_Item)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => pregunta.Item.TextoPregunta)
                </td>

                <td>
            <tr>
                <td></td>
                <td colspan="5">

                    @{
                        int tipoPregunta = pregunta.Item.TipoPregunta; //Pasamos el tipo de pregunta a int.
                        switch (tipoPregunta)
                        {
                            case 1://Tipo de pregunta si o no.

                                <dl class="dl-horizontal">

                                    <dd>
                                        <textarea name="comentarioAdicional" rows="5" cols="40"  style="resize:none"  disabled>Escriba su respuesta aquí</textarea>
                                    </dd>
                                    <br>
                                    @if (pregunta.Item.TieneObservacion == true)
                                    {
                                        @Html.Label("Comentario Adicional")
                                        <dd>
                                            <textarea name="comentarioAdicional" rows="5" cols="40"  style="resize:none" disabled>Escriba su comentario aqui</textarea>
                                        </dd>
                                    }
                                </dl>

                                break;

                            case 3://Tipo de pregunta texto libre.
                                <div>
                                    <dl class="dl-horizontal">

                                        <dd>
                                            <input type="checkbox" name="Si" value='Si' disabled> Sí<br>
                                            <input type="checkbox" name="No" value='No' disabled> No<br>
                                            <input type="checkbox" name="NoSe" value='NoSe' disabled> No sé/ No respondo/ No aplica<br>
                                        </dd>
                                        @if (pregunta.Item.TieneObservacion == true)
                                        {
                                            <dd>
                                                <textarea name="comentarioAdicional" rows="5" cols="40" style="resize:none" disabled>Escriba su comentario aqui</textarea>
                 
                                            </dd>
                                        }

                                    </dl>
                                </div>
                             break;
                        }
                    }
                 </td>
                </td>
            </tr>
        }
     }
</table>

