@model Opiniometro_WebApp.Models.PersonaPerfilEnfasisModel

@{
    ViewBag.Title = "Index";
}


<!--Login-->
<div align="center">
    <h1>Opiniómetro@UCR</h1>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Editar Usuario</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Persona.Cedula, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Persona.Cedula, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Persona.Cedula, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.usuario.CorreoInstitucional, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.usuario.CorreoInstitucional, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.usuario.CorreoInstitucional, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Persona.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Persona.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Persona.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <!--@Html.LabelFor(model => model.Persona.Apellido1, htmlAttributes: new { @class = "control-label col-md-2" })-->
                <label for="model.Apellido1" class="control-label col-md-2"> Primer Apellido </label>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Persona.Apellido1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Persona.Apellido1, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <!--@Html.LabelFor(model => model.Persona.Apellido2, htmlAttributes: new { @class = "control-label col-md-2" })-->
                <label for="model.Apellido2" class="control-label col-md-2"> Segundo Apellido </label>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Persona.Apellido2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Persona.Apellido2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Persona.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Persona.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Persona.Direccion, "", new { @class = "text-danger" })
                </div>
            </div>


            <br>
            <div class="form-group">
                <div class="col-md-10">
                    <div class="col-md-2">
                        <div style="margin-left:80px; width: 200px ">
                            <table class="table">
                                @{
                                    if (Model.Perfil != null)
                                    {
                                        <tr>
                                            <th>
                                                Perfiles
                                            </th>
                                            <th></th>
                                        </tr>
                                        for (int i = 0; i < Model.Perfil.Count; i++)
                                        {
                                            <tr>
                                                <td>@Model.Perfil.ElementAt(i)</td>
                                                <td>@Html.CheckBoxFor(model => Model.perfilesAsignados.ElementAt(i).asignar, new { @checked = "checked", @id = i }) <br></td>
                                            </tr>
                                        }
                                    }
                                }

                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-3">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                    @Html.ActionLink("Cancelar", "VerPersonas", "Admin", "", new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    }
</div>