
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">

        @model Opiniometro_WebApp.Models.ViewModelAdmin

        @{
            ViewBag.Title = "Index";
        }

        <!--Para usar la clase login-error del archivo estilos-propios.css-->
        <link href="@Url.Content("~/Content/estilos-propios.css")" rel="stylesheet" type="text/css" />

        <!--Barra-->
        @Html.Partial("~\\Views\\Shared\\Auth\\BarraLogin.cshtml")

        <!--Login-->
        <div align="center">
            <h1>Opiniómetro@UCR</h1>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Editar Usuario</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                
                <div class="form-group">
                    @Html.LabelFor(model => model.persona.Cedula, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Raw(Model.persona.Cedula)

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.persona.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.persona.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.persona.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <!--@Html.LabelFor(model => model.persona.Apellido1, htmlAttributes: new { @class = "control-label col-md-2" })-->
                    <label for="model.Apellido1" class="control-label col-md-2"> Primer Apellido </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.persona.Apellido1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.persona.Apellido1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <!--@Html.LabelFor(model => model.persona.Apellido2, htmlAttributes: new { @class = "control-label col-md-2" })-->
                    <label for="model.Apellido2" class="control-label col-md-2"> Segundo Apellido </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.persona.Apellido2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.persona.Apellido2, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.usuario.CorreoInstitucional, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.usuario.CorreoInstitucional, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.usuario.CorreoInstitucional, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.persona.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.persona.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.persona.Direccion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar" class="btn btn-default" />
                    </div>
                </div>
            </div>
                <div>
                    @Html.ActionLink("Volver", "VerPersonas")
                </div>
            }
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>


