

@{
    ViewBag.Title = "VerPersonas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Personas registradas</h2>
@using (Html.BeginForm())
{
    <p>
        <div class="form-group, form-inline">
            @Html.TextBox("nom")
            <input type="submit" value="Buscar" class="btn btn-default" />
        </div>
    </p>
}
<table class="table">
    <tr>
        <th>

            Cédula
        </th>
        <th>
            Nombre
        </th>
        <th>

            Primer apellido
        </th>
        <th>

            Segundo apellido
        </th>
        <th>

            Correo Institucional
        </th>
        <th>

            Dirección
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.persona.Cedula
            </td>
            <td>
                @item.persona.Nombre
            </td>
            <td>
                @item.persona.Apellido1
            </td>
            <td>
                @item.persona.Apellido2
            </td>
            <td>
                @item.usuario.CorreoInstitucional
            </td>
            <td>
                @item.persona.Direccion
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.persona.Cedula }, new { @class = "btn btn-default" })
         
            </td>
        </tr>
    }

</table>
