@model IEnumerable<Opiniometro_WebApp.Models.Preguntas>

@{
    ViewBag.Title = "Index";
}

<h2>Banco de preguntas</h2>

<p>
    @Html.ActionLink("Crear nueva pregunta", "Create")
</p>
<table class="table">
    <tr>
        <th>
       
            @Html.DisplayNameFor(model => model.Planteamiento)
        
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Planteamiento)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Planteamiento }) |
            @Html.ActionLink("Details", "Details", new { id=item.Planteamiento }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Planteamiento })*@
        </td>
    </tr>
}

</table>
