@model Opiniometro_WebApp.Models.SeleccionPermisos

@{
    ViewBag.Title = "Administrar Permisos";
    var prueba = Model;
}

<h2>Administrar Permisos</h2>

<br />

@using (Html.BeginForm("Guardar", "SeleccionPermisos"))
{

    <div style="width : 200px;">
        @Html.Label("Perfil")
        @*@Html.DropDownListFor(model => Model.IdPerfil, new SelectList(Model.ListaPerfilesId), new { @id = "perfiles", @class = "form-control", @onchange = "funcion(this.value)" })*@

        <br />

        <h3>Permisos</h3>

        <table class="table">
            <tr> </tr>

            @for (int i = 0; i < Model.ListaPermisos.Count; i++)
            {
                <td>
                    @Html.DisplayFor(model => model.ListaPermisos.ElementAt(i).Descripcion)
                </td>

                for (int j = 0; j < Model.ListaPerfiles.Count; j++)
                {
                    for (int k = 0; k < Model.ListaGuardar.Count; k++)
                    {
                        if (Model.ListaGuardar.ElementAt(k).Permiso == Model.ListaPermisos.ElementAt(i).Id &&
                            Model.ListaGuardar.ElementAt(k).Perfil == Model.ListaPerfiles.ElementAt(j).Nombre)
                        {
                            <td>
                                @Html.CheckBoxFor(model => Model.ListaGuardar[k].Existe, new { @disabled = "disabled", @checked = "checked", @id = i + "_" + j })
                                @Html.HiddenFor(model => Model.ListaGuardar[k].Permiso, i)
                                @Html.HiddenFor(model => Model.ListaGuardar[k].Perfil, j)
                            </td>
                        }
                    }
                }
                <tr></tr>
            }

        </table>
    </div>

    <p align="right">
        <button class="btn btn-default" type="submit">Guardar</button>

        <!-- El boton cancelar refresca la pantalla -->
        <button class="btn btn-default" onclick="location.href='@Url.Action("SeleccionarPermisos", "SeleccionPermisos")'; return false;"> Cancelar</button>
    </p>

    <br />
    @Html.Raw(TempData["msg"])
}
