@model Opiniometro_WebApp.Models.Formulario

@{
    ViewBag.Title = "Details";
}

@foreach (var title in Model.Formulario_Respuesta.Take(1))
{
    <td>
        <h3 style="text-align:left;">
            @Html.DisplayFor(modelItem => title.Grupo.SiglaCurso)
            @Html.DisplayFor(modelItem => title.Grupo.Curso.Nombre)
            <span style="float:right;">
                @Html.DisplayFor(modelItem => title.Profesor.Persona.Nombre)
                @Html.DisplayFor(modelItem => title.Profesor.Persona.Apellido1)
                @Html.DisplayFor(modelItem => title.Profesor.Persona.Apellido2)
            </span>
        </h3>
    </td>

    <td>
        <h3>
            @Html.DisplayFor(modelItem => title.CodigoFormulario)
            @Html.DisplayFor(modelItem => title.Formulario.Nombre)
        </h3>
    </td>

    <td>
        <h3 style="text-align:left;">
            Año: @Html.DisplayFor(modelItem => title.Grupo.AnnoGrupo)
            Semestre: @Html.DisplayFor(modelItem => title.Grupo.SemestreGrupo)
            <span style="float:right;">
                Grupo: @Html.DisplayFor(modelItem => title.Grupo.Numero)
            </span>
        </h3>
    </td>
}

@{int id_counter = 0; int seccion_counter = 0;}

    <div class="panel-group" id="accordion1">

        @foreach (var formulario in Model.Conformado_Item_Sec_Form.Take(1))
        {

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapseThree_@id_counter">
                            @Html.DisplayFor(model => formulario.NombreFormulario)
                        </a>
                    </h4>
                </div>
                <div id="collapseThree_@id_counter" class="panel-collapse collapse">
                    <div class="panel-body">

                        <div class="panel-group" id="accordion2_@id_counter">

                            @foreach (var seccion in Model.Conformado_Item_Sec_Form)
                            {
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion2_@id_counter" href="#collapseThreeOne_@seccion_counter">
                                                @Html.DisplayFor(model => seccion.TituloSeccion)
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThreeOne_@seccion_counter" class="panel-collapse collapse">
                                        <div class="panel-body">@Html.DisplayFor(model => seccion.Item.TextoPregunta)</div>
                                    </div>
                                </div>                              
                                seccion_counter++;
                            }
                            </div>

                    </div>
                </div>
            </div>  

            id_counter++;
        }

    </div>


@*
    @{int id_counter = 0; int seccion_counter = 0;}

        <div class="panel-group" id="accordion1">

            @foreach (var formulario in Model.Conformado_Item_Sec_Form.Take(2))
            {

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="accordion1" href="#collapseOne_@id_counter">
                                @Html.DisplayFor(modelItem => formulario.NombreFormulario)
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne_@id_counter" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div class="panel-group" id="accordion2_@id_counter">

                                @foreach (var seccion in Model.Conformado_Item_Sec_Form)
                                {
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="accordion2_@id_counter" href="#collapseTwo_@seccion_counter">
                                                    @Html.DisplayFor(modelItem => seccion.TituloSeccion)
                                                </a>
                                            </h4>
                                        </div>

                                        <div id="#collapseTwo_@seccion_counter" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                @Html.DisplayFor(modelItem => seccion.Item.TextoPregunta)
                                            </div>
                                        </div>
                                    </div>

                                    seccion_counter++;
                                }

                            </div>
                        </div>
                    </div>
                </div>

                id_counter++;
            }

        </div>
*@

