@model Opiniometro_WebApp.Models.Formulario

@{
    ViewBag.Title = "Details";
}

@Html.Partial("_Collapsible")


@foreach (var title in Model.Formulario_Respuesta.Take(1))
{
    <td>
        @Html.DisplayFor(modelItem => title.CodigoFormulario)
    </td>
    <td>
        @Html.DisplayFor(modelItem => title.Formulario.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => title.Grupo.SiglaCurso)
    </td>
    <td>
        @Html.DisplayFor(modelItem => title.Grupo.Curso.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => title.Grupo.SemestreGrupo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => title.Grupo.AnnoGrupo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => title.Grupo.Ciclo_Lectivo)
    </td>
}

@foreach (var seccion in Model.Conformado_Item_Sec_Form)
{
    <button class="collapsible main"> @Html.DisplayFor(modelItem => seccion.TituloSeccion) </button>
    <div class="content">

        <button class="collapsible secondary"> @Html.DisplayFor(modelItem => seccion.Item.TextoPregunta) </button>
        <div class="content">

            <button class="collapsible terciary">  @Html.DisplayFor(modelItem => seccion.Item.responde_respuesta.Respuesta) </button>
            <div class="content">

            </div>

        </div>

    </div>
}

<script src="~/Scripts/CollapsibleScript.js"></script>
