@model Opiniometro_WebApp.Models.Formulario

@{
    ViewBag.Title = "Details";
}


@foreach (var title in Model.Formulario_Respuesta.Take(1))
{
    <td>
        @Html.DisplayFor(modelItem => title.CodigoFormulario)
    </td>
    <td>
        @Html.DisplayFor(modelItem => title.Formulario.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => title.Grupo.SiglaCurso)
    </td>
    <td>
        @Html.DisplayFor(modelItem => title.Grupo.Curso.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => title.Grupo.SemestreGrupo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => title.Grupo.AnnoGrupo)
    </td>
}



@{int id_counter = 0; }}
@foreach (var seccion in Model.Conformado_Item_Sec_Form)
{
    <div class="panel-group" id="accordion_@id_counter">
        <div class="panel panel-default" id="panel_@id_counter">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseOne_@id_counter" href="#collapseOne_@id_counter">
                        @Html.DisplayFor(modelItem => seccion.TituloSeccion)
                    </a>
                </h4>
            </div>

            <div id="collapseOne_@id_counter" class="panel-collapse collapse in">
                <div class="panel-body">
                    @Html.DisplayFor(modelItem => seccion.Item.TextoPregunta)
                </div>
            </div>
        </div>
    </div>
    id_counter++;
}


