@model IEnumerable<Opiniometro_WebApp.Models.Formulario>
@using Opiniometro_WebApp.Controllers

@{
    ViewBag.Title = "Formularios";
}

<h2>Formularios</h2>

<p>
    <input type="button" value="Crear Nuevo Formulario" class="btn btn-secondary" id="botonNuevaSeccion" onclick="accionBotonCrearNueva()" />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Código Formulario")
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoFormulario)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @*<input type="button" value="Asignar preguntas" class="btn btn-secondary" id="botonNuevaSeccion" onclick="accionBotonAsignarPregunta()"/>*@
                
                @*@Html.ActionLink("Vista previa", "VistaFormularioVParcial", "CrearFormularo", new { codForm = item.CodigoFormulario }, new { @class = "btn btn-default" })*@

                @Html.ActionLink("Asignar Preguntas", "AsignarPreguntas", "CrearFormulario" ,new { codForm = item.CodigoFormulario}, new { @class = "btn btn-default" })
                @*@Html.ActionLink("Details", "Details", new { id=item.CodigoFormulario }) |*@
                @*@Html.ActionLink("Delete", "Delete", new { id=item.CodigoFormulario })*@
            </td>
        </tr>
    }

</table>

<script>
        function accionBotonCrearNueva() {
            document.location = '@Url.Action("Create")';
        }
        function accionBotonAsignarPregunta() {
            document.location = '@Url.Action("AsignarPreguntas", "CrearFormulario")';
        }
</script>