@{
    ViewBag.Title = "Home Page";
}

<h1>Home</h1>

<div>
    @Html.ActionLink("Formularios", "Index", "Formulario")<br />
    @Html.ActionLink("Secciones", "Index", "Seccion")<br />
    @Html.ActionLink("Preguntas", "Index", "Item")<br />
    @Html.ActionLink("Selecion Unica", "Index", "SeleccionUnica")<br /> @*Esto no cumple DoD, necesitamos editarlo ASAP*@
    @Html.ActionLink("Texto Libre", "Index", "Texto_Libre")<br />
    @Html.ActionLink("Lista de Conformados", "Index", "Conformado_Item_Sec_Form")<br /><br />
    @Html.ActionLink("Asignar un formulario", "Index", "AsignarFormularios")
</div>

