@{
    ViewBag.Title = "Pagina de Inicio";
}

<h1>Home</h1>

<div>
    @Html.ActionLink("Formularios", "Index", "Formulario")<br />
    @Html.ActionLink("Secciones", "Index", "Seccion")<br />
    @Html.ActionLink("Preguntas", "Index", "Item")<br />
    @Html.ActionLink("Selecion Unica", "Index", "Seleccion_Unica")<br /> @*Esto no cumple DoD, necesitamos editarlo ASAP*@
    @Html.ActionLink("Texto Libre", "Index", "Texto_Libre")<br />
    @Html.ActionLink("Formulario Resuelto", "Index", "Responde")<br />
    @Html.ActionLink("Cargar archivo tipo csv", "CargarArchivo", "Administrador") @*Esto no cumple DoD*@
</div>
