<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opiniómetro@UCR</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/estilos-propios.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!--Barra-->
    @Html.Partial("~\\Views\\Shared\\Auth\\BarraLogin.cshtml")
    @using Opiniometro_WebApp.Controllers.Servicios;
    @using Opiniometro_WebApp.Controllers;

    @if (IdentidadManager.usuario_loggeado() == true)
    {
        <nav class="navbar navbar-opiniometro-secundaria navbar-fixed-top" style="margin-top:100px; z-index:3">
            <div class="container">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Bienvenido", "Index", "Home")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@IdentidadManager.obtener_perfil_actual()<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    @{
                                        ICollection<String> perfiles = PerfilController.ObtenerPerfiles();
                                        ViewBag.perfiles = perfiles;
                                        for (int contador = 0; contador < perfiles.Count; contador++)
                                        {
                                            <a href="@Url.Action("CambioPerfil", "Perfil", new { perfil_elegido = @ViewBag.perfiles[contador] })">@ViewBag.perfiles[contador]</a>
                                        }
                                    }
                                </li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Cerrar sesión", "CerrarSesion", "Auth")</li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>

        <nav class="navbar navbar-opiniometro-ternaria navbar-fixed-top" style="margin-top:150px; z-index:2">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Opiniómetro@UCR", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuario<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Ver información de personas", "VerPersonas", "Admin")</li>
                            <li>@Html.ActionLink("Insertar usuario", "CrearUsuario", "Admin")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Evaluaciones<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Insertar formulario", "Index", "Formulario")</li>
                            <li>@Html.ActionLink("Asignar formulario", "Index", "AsignarFormularios")</li>
                            <li>@Html.ActionLink("Visualizar resultados de evaluaciones", "Index", "Responde")</li>
                            <li>@Html.ActionLink("Sección", "Index", "Seccion")</li>
                            <li>@Html.ActionLink("Ítem", "Index", "Item")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    }

    <br /><br /><br /><br />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Opiniometro@UCR</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>